openapi: "3.0.3"
info:
  title: "ServiceNow RITM Lookup API"
  version: "1.0.0"

servers:
  - url: "https://stgservice-management.wolterskluwer.com/api/now"

paths:

  /table/sc_req_item:
    get:
      operationId: "getRITMDetails"
      summary: "Get RITM details from sc_req_item table"
      parameters:
        - name: "sysparm_query"
          in: "query"
          required: true
          schema:
            type: "string"
            example: "number=RITM1873527"

        - name: "sysparm_fields"
          in: "query"
          required: true
          schema:
            type: "string"
            default: "number,short_description,description,state,approval,stage,assigned_to,assignment_group,requested_for,opened_by,opened_at,sys_created_on,sys_updated_on,due_date,priority,impact,urgency,cat_item,request,comments,work_notes,close_notes,active,upon_approval,upon_reject"

        - name: "sysparm_limit"
          in: "query"
          required: true
          schema:
            type: "integer"
            default: 1
            enum:
              - 1

        - name: "sysparm_display_value"
          in: "query"
          required: true
          schema:
            type: "string"
            default: "true"
            enum:
              - "true"

        - name: "sysparm_exclude_reference_link"
          in: "query"
          required: true
          schema:
            type: "string"
            default: "true"
            enum:
              - "true"

      responses:
        "200":
          description: "Matching RITM records."
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: true

  /table/sc_task:
    get:
      operationId: "getCatalogTasks"
      summary: "Get catalog tasks from sc_task table linked to a RITM"
      description: "Queries the sc_task table for all workflow tasks linked to a given RITM. Always call this together with getCatalogTasksAlt and add both result counts for the total."
      parameters:
        - name: "sysparm_query"
          in: "query"
          required: true
          schema:
            type: "string"
            example: "request_item.number=RITM1873527"

        - name: "sysparm_fields"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "number,short_description,description,state,approval,assignment_group,assigned_to,opened_by,opened_at,closed_at,closed_by,request_item,cat_item,request,active,priority,sys_id"

        - name: "sysparm_limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            default: 100

        - name: "sysparm_display_value"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "false"
            enum:
              - "false"

        - name: "sysparm_exclude_reference_link"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "true"
            enum:
              - "true"

      responses:
        "200":
          description: "Catalog tasks from sc_task linked to the RITM."
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: true

  /table/sc_cat_task:
    get:
      operationId: "getCatalogTasksAlt"
      summary: "Get catalog tasks from sc_cat_task table linked to a RITM"
      description: "Queries the sc_cat_task table for all catalog-specific tasks linked to a given RITM. Always call this together with getCatalogTasks and add both result counts for the total."
      parameters:
        - name: "sysparm_query"
          in: "query"
          required: true
          schema:
            type: "string"
            example: "request_item.number=RITM1873527"

        - name: "sysparm_fields"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "number,short_description,description,state,approval,assignment_group,assigned_to,opened_by,opened_at,closed_at,closed_by,request_item,cat_item,request,active,priority,sys_id"

        - name: "sysparm_limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            default: 100

        - name: "sysparm_display_value"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "false"
            enum:
              - "false"

        - name: "sysparm_exclude_reference_link"
          in: "query"
          required: false
          schema:
            type: "string"
            default: "true"
            enum:
              - "true"

      responses:
        "200":
          description: "Catalog tasks from sc_cat_task linked to the RITM."
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: true
