openapi: "3.0.3"
info:
  title: "ServiceNow RITM Lookup API"
  version: "1.0.0"

servers:
  - url: "https://stgservice-management.wolterskluwer.com/api/now"

paths:
  /table/sc_req_item:
    get:
      operationId: "getRITMDetails"
      summary: "Get RITM details"
      parameters:
        - name: "sysparm_query"
          in: "query"
          required: true
          schema:
            type: "string"
            example: "number=RITM1837042"

        - name: "sysparm_fields"
          in: "query"
          required: true
          schema:
            type: "string"
            default: "number,short_description,state,approval,assigned_to,assignment_group,requested_for,opened_by,opened_at,sys_created_on,sys_updated_on,priority,cat_item,request,active"

        - name: "sysparm_limit"
          in: "query"
          required: true
          schema:
            type: "integer"
            default: 1
            enum:
              - 1

        - name: "sysparm_display_value"
          in: "query"
          required: true
          schema:
            type: "string"
            default: "true"
            enum:
              - "true"

        - name: "sysparm_exclude_reference_link"
          in: "query"
          required: true
          schema:
            type: "string"
            default: "true"
            enum:
              - "true"

      responses:
        "200":
          description: "Matching RITM records."
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: true
